*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-container{
    background-color: #1f2937;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 150px;
}

.nav-content ul{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding-right: 150px;
}